/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
	
}
.library{
	text-align: center;
	margin: 20px;
}
.book-library{
	background-color: #ffffff;
	margin: 20px;
}
h2{
	text-align: left;
}
p{
	text-align: left;
	color: #777777;
}
img{
	display: block; 
	margin: 0 auto;
}
button{
	background-color: #2ecc71;
	border: none;
	border-radius: 5px;
	width: 100%;
	color: white;
}